<<<<<<< HEAD
---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Error 404" showHeader={false}>
  <div class="flex flex-col justify-center items-center">
    <h1 class="text-white text-3xl text-center pb-5">
      Esta página no existe...
    </h1>
    <img src="/src/img/404.gif" alt="404-gif" />
  </div>
</Layout>
=======
---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Error 404" showHeader={false}>
  <div class="flex flex-col justify-center items-center">
    <h1 class="text-white text-3xl text-center pb-5">
      Esta página no existe...
    </h1>
    <img src="/src/img/404.gif" alt="404-gif" />
  </div>
</Layout>
>>>>>>> e6fd68155ffec9042f985c5cda4d3b777f6188c6
