---
import HeaderButton from "./HeaderButton.astro";
---

<header
  class="mx-auto max-w-xl lg:py-8 lg:px-6 flex items-center justify-center"
>
  <div class="text-center">
    <h2 class="mt-12 mb-6 text-4xl tracking-tight font-extrabold text-white">
      💈Barber Shop💈
    </h2>
    <h2 class="mt-2 mb-6 text-4xl tracking-tight font-extrabold text-white">
      💈Las Torres💈
    </h2>
    <nav
      class="flex flex-row items-center justify-between w-full text-center space-x-4 lg:space-x-8"
    >
      <HeaderButton
        class="sm:text-sm md:text-sm lg:text-4xl text-white"
        href="/"
      >
        BIENVENIDO
      </HeaderButton>

      <HeaderButton
        class="sm:text-sm md:text-sm lg:text-4xl text-white"
        href="/pedirCita"
      >
        PEDIR CITA
      </HeaderButton>

      <HeaderButton
        class="sm:text-sm md:text-sm lg:text-4xl text-white"
        href="/verCitas"
      >
        VER CITAS
      </HeaderButton>

      <a href="https://www.instagram.com/barberlastorres/" target="_blank">
        <img src="/img/instagram.png" alt="Instagram" class="w-6 h-6 mb-2" />
      </a>
    </nav>
  </div>
</header>
